.root {
    -fx-font-family: "Segoe UI";
}

.label {
    -fx-text-fill: #E5E7EB;
}

.text-field,
.combo-box,
.spinner {
    -fx-background-color: #18181F;
    -fx-text-fill: #F9FAFB;
    -fx-border-color: #3F3F46;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.text-field:focused,
.combo-box:focused,
.spinner:focused {
    -fx-border-color: #7C3AED;
}

.primary-button {
    -fx-background-color: #6D28D9;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.primary-button:hover {
    -fx-background-color: #7C3AED;
}

.danger-button {
    -fx-background-color: #7F1D1D;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.danger-button:hover {
    -fx-background-color: #991B1B;
}